<% items = { "Module" => "Modules", "Class" => "Classes", "Method" => "Methods" } %>

<h2>Dcov Results</h2>
<h3>Documentation coverage information.</h3>

<p>
  Total Files: <%= @dcov[:file_count] %><br />

  <% items.each_pair do |singular, plural| %>
  	Total <%= plural %>: <%= @dcov["total_#{plural.downcase}".to_sym]%>
  	with <%= @dcov["#{singular.downcase}_coverage".to_sym][:coverage]%> coverage.
  	<br />
  <% end %>
</p>

<% items.each_pair do |singular, plural| %>
	<h3>Undocumented <%= plural %>:</h3>
	<table>
		<tr>
			<th><%= singular %></th>
			<th>Location</th>
		</tr>
		<% if not_covered_items = @dcov["#{singular.downcase}_coverage".to_sym][:not_covered] %>
			<% not_covered_items.each_pair do |k,v| %>
			<tr>
				<td><%= k %></td>
				<td><%= v %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
<% end %>

<p>Generated on <%= Time.now.localtime %></p>