<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <meta content='en' http-equiv='Content-Language' />
    <title>metrics</title>
    <style>
    <%= inline_css("css/reset.css") %>
    <%= inline_css("css/buttons.css") %>
    <%= inline_css("css/integrity.css") %>
    <%= inline_css("css/navigation.css") %>
    <%= inline_css("css/default.css") %>
    </style>
    <link REL="SHORTCUT ICON" HREF="/favicon.ico">
  </head>
  <body>
    <div id='header'>
      <h1><a href="/">metrics</a> | <a href="index.html"><%= @name %></a></h1>

      <ul id='projects'>
      <% if @churn %>
         <li class='even failure <%= (@current_section == :churn) ? "active" : "" %>'><a href="churn.html">Churn</a></li>
      <% end %>
      <% if @flay %>
        <li class='even failure <%= (@current_section == :flay) ? "active" : "" %>'><a href="flay.html">Flay</a></li>
      <% end %>
      <% if @flog %>
        <li class='even failure <%= (@current_section == :flog) ? "active" : "" %>'><a href="flog.html">Flog</a></li>
      <% end %>
      <% if @rcov %>
        <li class='even failure <%= (@current_section == :rcov) ? "active" : "" %>'><a href="rcov.html">Rcov</a></li>
      <% end %>
      <% if @reek %>
        <li class='even failure <%= (@current_section == :reek) ? "active" : "" %>'><a href="reek.html">Reek</a></li>
      <% end %>
      <% if @roodi %>
        <li class='even failure <%= (@current_section == :roodi) ? "active" : "" %>'><a href="roodi.html">Roodi</a></li>
      <% end %>
      <% if @saikuro %>
        <li class='even failure <%= (@current_section == :saikuro) ? "active" : "" %>'><a href="saikuro.html">Saikuro</a></li>
      <% end %>
      <% if @stats %>
        <li class='even failure <%= (@current_section == :stats) ? "active" : "" %>'><a href="stats.html">Stats</a></li>
      <% end %>
      </ul>

      <address class='watermark'>
        built with
        <a href='http://metric-fu.rubyforge.org/'>metric-fu</a>
      </address>
    </div>
    <div id='content'>
      <%= @html %>
    </div>
  </body>
</html>
